@import url('https://fonts.googleapis.com/css?family=Markazi+Text');

body{font-family: 'Markazi Text', serif;}
[type=text]{
    box-sizing:border-box;
    padding:5px;
    border:1px solid black;
    font-size: 16px;
    height: 30px;
}
[type=text].w-btn{
    border-bottom-left-radius:3px;
    border-top-left-radius:3px;
}
[type=text].single{
    border-radius:3px;
}
button.w-input{
    border: 0;
    padding: 8px;
    background-color: #565656;
    color:white;
    border-bottom-right-radius:3px;
    border-top-right-radius:3px;
    cursor:pointer;
    align-self: flex-end;
    height: 30px;
}
button.w-input:hover{ background-color:#2f2f2f;}
.flex{display:flex !important}
.flex.wrap{ flex-wrap:wrap; }
.new-entry > :first-child{margin-right:10px;}
.new-entry > button:first-of-type{margin-right:10px;}
.align-items--fe{align-items: flex-end;}
.align-items--ce{align-items: center;}
.row-container{
    border: 1px solid black;
    border-radius:3px;
    font-size: 40px;
    padding: 10px 20px;
    margin: 10px 0;
}
.just-cont--end{
    justify-content: flex-end;
}
.just-cont--space-between{
    justify-content: space-between;
}
input[name="current"] {
    font-size: 40px;
    border: 0;
    padding: 0;
    font-family: 'Markazi Text', serif;
}
.left .divide{ margin:0 5px; }
.left .name{ padding-right:30px; }
.row-container > .left{max-width: 80%;}
.row-container > .right{max-width: 20%;}
button.remove {
    font-size: 28px;
    color: red;
    background-color: white;
    border: 0;
    border-radius: 4px;
    padding: 4px 15px;
    cursor: pointer;
}
button.remove:hover{
    color:white;
    background-color:red;
}
button.damage{
    background-color: white;
    border: 0;
    font-size: 30px;
    color: darkred;
    outline: 1px solid;
    cursor: pointer;
    margin-right:5px;
}
button.damage:hover{
    background-color:darkred;
    color:white;
}
button.heal{
    background-color: white;
    border: 0;
    font-size: 30px;
    color: darkgreen;
    outline: 1px solid;
    cursor: pointer;
    margin-right:5px;
}
button.heal:hover{
    background-color:darkgreen;
    color:white;
}
.overlay-container{position:relative;}
.overlay:after {
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    height: 0%;
    transition: height .1s;
}
.overlay-container.heal .overlay:after,
.overlay-container.damage .overlay:after{
    height:100%;
}
.overlay-container > input{
    position:absolute;
    top:0;
    height:0px;
    padding: 0;
    border-width:0px;
    font-size: 24px;
    max-width: 60px;
    left: CALC(50% - 30px);
    transition:height .1s, top .1s;
}
.overlay-container.damage > input,
.overlay-container.heal > input{
    top: CALC(50% - 14px);
    height: 30px;
    padding: 5px;
    border-width:1px;
}
.conditions-wrapper{
    flex-basis:100%;
    flex-grow:1;
    flex-shrink:1;
}
.max{margin-right:10px;}
.condition{ 
    border:1px solid black; 
    border-radius:4px;
    max-width:40px;
}